body{
    background: linear-gradient(25deg, #bcee9b, #309b15 50%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background-color: rgb(170, 228, 163);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    text-align: center;
}
.timer{
    font-size: 32px;
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}
#start-Btn{
    background-color: green;
}
#stop-Btn{
    background-color: red;
}